<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} User Add {% endblock title %}</title>
</head>

<body>
    <h3>{% block heading %}User Add {% endblock heading %}</h3>
    {% block contain %}
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table><br>
        <div>
            <input type="submit" value="Save">
            <input type="reset" value="clear">
            <a href="{% url 'user_list_view' %}"> <input type="button" value="Home"></a>
        </div>
    </form>
    {% endblock contain %}
</body>

</html>